/*
 * @name CompactSidebarButtons
 * @author Cea.API
 * @authorLink https://github.com/Cea.API
 * @description Compacts some navigation buttons to icons, fitting them beside Friends button.
 * @authorId 485548700995682318
 * @discord cea.api
*/

nav[class^="privateChannels"] ul[role="list"] {
    >div:nth-of-type(-n+5),
    >li:nth-of-type(-n+1) {
        display: inline-block;

        [class^="avatar"],
        [href^="/"] {
            margin: 0;
            padding: 5px;
        }

        [class^="name"],
        [class^="newBadge"] {
            display: none;
        }
    }

    >[class^="friendsButtonContainer"] {
        width: calc(100% - 192px);
		float: left;

        [class^="name"] {
            display: block !important;
        }
    }

	>:nth-child(2) {
        width: auto;
		float: none;

        [class^="name"] {
            display: none !important;
        }
    }
}
